<h1>All pets</h1>
<% @pets.each do |pet| %>
  <h2><%=pet.name %></h2>
  <p>Name: <%= pet.name %></p>
  <p>Breed: <%= pet.breed %></p>
  <img src=<%=pet.image%> width="500" height="500" >
  <%= link_to "More Info", pet %>
<% end %>


<%= link_to "New pet", new_pet_path %>

